.gitignore
db
build
src/common/config/db.js
app
*.xml
node_modules

# IDE config
.idea

# Temporary folder
.tmp

# Image upload folder
www/static/images/upload/*

# Database Config
src/common/config/db.js

# Compiled Release
release/

# OS func folder
.DS_Store

runtime/
www/static/upload/
sitemap.xml

output/
output.theme/
.version
.installed
build

75team.sh
stc/
jsconfig.json
.vscode
www/theme/firekylin_new

runtime
upload
conf/
www/static/js/
src/common/config/route.js
